h2,
h3,
h4,
ul,
li {
	font-size: 0.9em;
	margin: 0px;
	font-weight: unset;
}

h2 {
	margin-top: 20px
}

h4 {
	font-style: italic;
	font-size: 0.7em;
}

ul {
	margin: 10px 0px;
	margin-left: 20px;
}

li {
	font-size: 0.8em;
	list-style-type: circle;
}

#history {
	margin: 0px auto;
	width: 90%;
}

nav ul li {
	list-style-type: none;
}

nav ul {
	font-size: 1.0em;
}