h2,
h3,
h4,
ul,
li {
	margin: 0px;
	font-weight: unset;
}

h2 {
	font-size: 2rem;
	margin-top: 20px
}

h4 {
	font-style: italic;
	font-size: 1rem;
}

ul {
	margin: 10px 0px;
	margin-left: 20px;
}

li {
	font-size: 1rem;
	list-style-type: circle;
}

#history {
	margin: 0px auto;
	width: 90%;
}

nav ul li {
	list-style-type: none;
}

li li {
	list-style-type: disc;
}

nav ul {
	font-size: 1.0em;
}

table {
	width: 90%;
	border-collapse: collapse;
	margin: 0 2em;
}

th {
	padding: 0.5em 0;
	background-color: dimgray;
	border: 1px solid;
}

tr,
td {
	border: 1px solid;
	padding: 0.25em;
}